<a href="https://colab.research.google.com/github/param1707/python/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Functions in python**

# program to find the total expenses of an individual person without function

In [3]:
names = ["param","aditya","shamith"]
month = ["Jan","Feb","mar","Apr","May"]
param_expenses_in_euro = [100,200,300,400,500]
aditya_expenses_in_euro = [200,300,400,500,600]
shamith_expenses_in_euro = [300,400,500,600,700]

In [6]:
total = 0
for i in range(len(param_expenses_in_euro)):
  total = total + param_expenses_in_euro[i]
  print("Month:",month[i]," Expense:",param_expenses_in_euro[i])

print("param total expense is ",total)

Month: Jan  Expense: 100
Month: Feb  Expense: 200
Month: mar  Expense: 300
Month: Apr  Expense: 400
Month: May  Expense: 500
param total expense is  1500

In [7]:
total = 0
for i in range(len(aditya_expenses_in_euro)):
  total = total + aditya_expenses_in_euro[i]
  print("Month:",month[i]," Expense:",aditya_expenses_in_euro[i])

print("param total expense is ",total)

Month: Jan  Expense: 200
Month: Feb  Expense: 300
Month: mar  Expense: 400
Month: Apr  Expense: 500
Month: May  Expense: 600
param total expense is  2000

In [9]:
total = 0
for i in range(len(shamith_expenses_in_euro)):
  total = total + shamith_expenses_in_euro[i]
  print("Month:",month[i]," Expense:",shamith_expenses_in_euro[i])

print("param total expense is ",total)

Month: Jan  Expense: 300
Month: Feb  Expense: 400
Month: mar  Expense: 500
Month: Apr  Expense: 600
Month: May  Expense: 700
param total expense is  2500

# program to find the total expenses of an individual person with function

In [17]:
def total_expense(month,expenses,name) :
    total = 0
    print(name+' ' + "expenses month wise.....")
    for i in range(len(expenses)):
      total = total + expenses[i]
      print("Month:",month[i]," Expense:",expenses[i])
    print(name+' ' + "total expense is ",total)

In [20]:
total_expense(month,param_expenses_in_euro,"param")

param expenses month wise.....
Month: Jan  Expense: 100
Month: Feb  Expense: 200
Month: mar  Expense: 300
Month: Apr  Expense: 400
Month: May  Expense: 500
param total expense is  1500

In [21]:
total_expense(month,aditya_expenses_in_euro,"aditya")

aditya expenses month wise.....
Month: Jan  Expense: 200
Month: Feb  Expense: 300
Month: mar  Expense: 400
Month: Apr  Expense: 500
Month: May  Expense: 600
aditya total expense is  2000

In [22]:
total_expense(month,shamith_expenses_in_euro,"shamith")

shamith expenses month wise.....
Month: Jan  Expense: 300
Month: Feb  Expense: 400
Month: mar  Expense: 500
Month: Apr  Expense: 600
Month: May  Expense: 700
shamith total expense is  2500