<a href="https://colab.research.google.com/github/param1707/python/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loops in python**

# write a program to add all the expenses in list

In [13]:
expenses_in_euro = [152,250,319,412,123]
Month = ["jan","Feb","mar","Apr","May"]

In [4]:
expenses_in_euro[0]

152

In [6]:
total = expenses_in_euro[0]+expenses_in_euro[1]+expenses_in_euro[2]+expenses_in_euro[3]+expenses_in_euro[4]
print(total)

1256

# Using loop to find total

In [8]:
total_expense = 0
for i in expenses_in_euro:
  total_expense = total_expense + i
print("total expense of all the month is "+ str(total_expense))

total expense of all the month is 1256

In [11]:
total_expense = 0
for i in range(0,5):
  total_expense = total_expense + expenses_in_euro[i]
print("total expense of all the month is "+ str(total_expense))

total expense of all the month is 1256

In [12]:
total_expense = 0
for i in range(len(expenses_in_euro)):
  total_expense = total_expense + expenses_in_euro[i]
print("total expense of all the month is "+ str(total_expense))

total expense of all the month is 1256

# write a program to print all the month with expenses and with final total

In [15]:
total_expense = 0
for i in range(len(expenses_in_euro)):
  print("month:",Month[i]+'  '+"Expenses:",expenses_in_euro[i])
  total_expense = total_expense + expenses_in_euro[i]
print("total expense of all the month is "+ str(total_expense))

month: jan  Expenses: 152
month: Feb  Expenses: 250
month: mar  Expenses: 319
month: Apr  Expenses: 412
month: May  Expenses: 123
total expense of all the month is 1256

# Write a program to find a thing in a list

In [28]:
thing = 'keys'
livingroom = ["pen","paper","pencil","keys","mobile","Laptop","pc"]

In [29]:
for i in range(len(livingroom)):
  if thing==livingroom[i]:
    print(thing + " is found in the living room")
    break
  
  if i==6:
    print(thing + " is not found in the living room")

keys is found in the living room

In [30]:
thing = "salt"

In [31]:
for i in range(len(livingroom)):
  if thing==livingroom[i]:
    print(thing + " is found in the living room")
    break
  
  if i==6:
    print(thing + " is not found in the living room")

salt is not found in the living room