<a href="https://colab.research.google.com/github/param1707/python/blob/main/strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
**Strings in python**
```

In [5]:
text = "python string"

In [6]:
print(text[0])

p

In [7]:
print(text[5])

n

# **One cannot chane a particular index element in string**

In [8]:
text[5] = 'i'

TypeError: ignored

In [10]:
print(text[0:6])

python

In [11]:
print(text[6:])

 string

In [12]:
str1 = "hello"
str2 = "world"
str1+str2

'helloworld'

In [13]:
str1 + ' ' + str2

'hello world'

In [14]:
str3 = "my matriculation number is"
nr = 62345

# **addition of string and number is not possible**

In [15]:
str3 + nr

TypeError: ignored

In [18]:
str3+' '+ str(nr)

'my matriculation number is 62345'